@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 250, 243, 224;
  --background-end-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: #faf3e0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-heading), serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

